<h2 class="display-2 fw-semibold">Courses</h2>

<section id="course" class="padding-medium">
        <div class="container">
            <div class="filter-shop d-md-flex justify-content-between align-items-center">
                <div class="showing-product">
                    <p class="m-0">Showing 1–9 of 55 results</p>
                </div>
                <div class="sort-by">
                    <select class="filter-categories border-0 m-0">
                        <option value="">Default sorting</option>
                        <option value="">Name (A - Z)</option>
                        <option value="">Name (Z - A)</option>
                        <option value="">Price (Low-High)</option>
                        <option value="">Price (High-Low)</option>
                        <option value="">Rating (Highest)</option>
                        <option value="">Rating (Lowest)</option>
                        <option value="">Model (A - Z)</option>
                        <option value="">Model (Z - A)</option>
                    </select>
                </div>
            </div>
            <div class=" row">
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">12 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item4.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">The Complete Package of Digital Marketing Courses</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">James Willam</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">10 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item3.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Expert</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">Top Marketing Strategy Courses - 15 Courses in 1</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">2D Course</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">15 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item1.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">All Level</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">Digital Marketing Masterclass - Complete Guide</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">Wokka Stary</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">20 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item2.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">Mega Digital Marketing Course A to Z - Full Course</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">Christin Hanby</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-line" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">12 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item5.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">The Complete Package of Digital Marketing Courses</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">James Willam</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">10 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item6.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Expert</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">Top Marketing Strategy Courses - 15 Courses in 1</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">2D Course</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-line" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">15 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item7.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">All Level</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">Digital Marketing Masterclass - Complete Guide</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">Wokka Stary</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">20 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item8.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">Mega Digital Marketing Course A to Z - Full Course</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">Christin Hanby</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">12 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="single-product.html"><img src="https://demo.templatesjungle.com/worldcourse/images/item4.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="single-product.html">
                                <h5 class="py-2 m-0">The Complete Package of Digital Marketing Courses</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">James Willam</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">$180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <ul class="list-unstyled d-flex">
                                    <li> <iconify-icon icon="carbon:book" class="text-primary fs-4 pt-1"></iconify-icon>
                                        10 lessons</li>
                                    <li class="align-self-end">&nbsp;,&nbsp;</li>
                                    <li> <iconify-icon icon="ph:student" class="text-primary fs-4 pt-1"></iconify-icon>
                                        200 students</li>
                                </ul>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-primary text-capitalize me-2 px-4 py-3">Enroll
                                        Now</a>
                                    <a href="#" class=" btn btn-info text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <nav class="navigation paging-navigation text-center mt-5" role="navigation">
                    <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
                        <a href="#" class="pagination-arrow d-flex align-items-center fw-normal mx-3">
                            <iconify-icon icon="ic:baseline-keyboard-arrow-left" class="pagination-arrow fs-1"></iconify-icon>
                        </a>
                        <span aria-current="page" class="page-numbers fs-4 fw-normal mx-3 current">1</span>
                        <a class="page-numbers fs-4 fw-normal mx-3" href="#">2</a>
                        <a class="page-numbers fs-4 fw-normal mx-3" href="#">3</a>
                        <a href="#" class="pagination-arrow d-flex align-items-center fw-normal mx-3">
                            <iconify-icon icon="ic:baseline-keyboard-arrow-right" class="pagination-arrow fs-1"></iconify-icon>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </section>