
<div class="body">
  <div class="grid-container">
    <div class="card">
      <div class="title">NOTES</div>
      <div class="icon"><i class="fa-thin fa-laptop-code"></i></div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptatum. Magni hic, voluptate debitis esse
          corporis dolor laudantium quae quo!</p>
        <p>Some text about notes or papers.</p>
        <button class="card-btn" routerLink="/center-cards">View</button>
      </div>
    </div>

    <div class="card">
      <div class="title">PAPERS</div>
      <div class="icon"><i class="fa-thin fa-shield-check"></i></div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptatum. Magni hic, voluptate debitis esse
          corporis dolor laudantium quae quo!</p>
        <p>Some text about notes or papers.</p>
        <button class="card-btn" routerLink="/papers">View</button>
      </div>
    </div>

    <div class="card">
      <div class="title">UPLOAD PAPERS</div>
      <div class="icon"><i class="fa-thin fa-wrench-simple"></i></div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptatum. Magni hic, voluptate debitis esse
          corporis dolor laudantium quae quo!</p>
        <p>Some text about notes or papers.</p>
        <button class="card-btn" routerLink="/upload_papers">View</button>
      </div>
    </div>
  </div>
</div>