<div class="ftco-footer">
    <a class="navbar-brand align-items-center" href="index.html">
        Academia
        <span>Online Education &amp; Learning</span>
    </a>
    <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">

            <ul class="ftco-footer-social list-unstyled mt-2">
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
    </div>
</div>


