/* *{
border: 2px solid red;
} */

.body{
    background-color: #a9d6e5;
}
.container {
    height: 400px;
    display: grid;
    grid-template-columns: 220px 220px 220px;
    justify-content: center;
    align-content: center;
    gap: 20px;

    /* flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5; */
}

.card {
    width: 200px;
    height: 150px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    transition: transform 0.2s ease;
    z-index: 500;
}

.card:hover {
    transform: translateY(-5px);
}

.card a{
    text-align: center;
    text-decoration: none;
}

